APP_NAME = 'NodeTsDemo'
DEVELOPER_NAME = 'Chirag Parmar'

TIMEZONE = 'UTC'

ENC_SECRET_KEY = ''  
ENC_SECRET_IV = ''

CLIENT_EMAIL = 'NodeTsDemo@gmail.com'

# Maintenance Mode
MAINTENANCE_MODE = false # Set to true to enable maintenance mode

# PASSWORD AND TOKEN
PASSWORD_ENCRYPT_LEVEL = 12
JWT_SECRET = ''
JWT_EXPIRES_IN = '12h' # 1d, 12h, 1m

TEST_OTP = 1234

# Backup Configuration
BACKUP_PATH = './backups'

# Elastic email credentials
SMTP_HOST = 'smtp.elasticemail.com'
SMTP_PORT = 2525
SMTP_USERNAME = ''
SMTP_PASSWORD = ''

# =*=*=*=*=* DEV =*=*=*=*=*
PORT = 5050
NODE_ENV = 'dev' # dev, prod

SERVER_URL = ''
CLIENT_URL = ''

MONGO_URI = ''

# =*=*=*=*=* PROD =*=*=*=*=*
# PORT = 5051
# NODE_ENV = 'prod' # dev, prod

# SERVER_URL = ''
# CLIENT_URL = ''

# MONGO_URI = ''
